* {
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Navigation Bar */
.navigation-bar {
  margin: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
}
.logo-img {
  height: 40px;
  width: 120px;
}
.nav-btn {
  display: flex;
  list-style: none;
  gap: 15px;
}
ul li,
.speaker-desc {
  color: #575757;
}
.register-btn {
  background: #1d4ed8;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
}

/* Main Hero Section */
.hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
    url("assets/banner.jpg") center / cover no-repeat;
  background-repeat: no-repeat;
  height: 800px;
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.card-heading {
  justify-content: center;
  text-align: center;
  margin: 60px 0px 20px 0px;
  font-size: 60px;
}
.hero h2 {
  font-size: 70px;
}
.hero-container {
  margin-top: 90px;
}
.btn-big {
  font-size: 30px;
  padding: 20px 40px;
  margin-top: 350px;
}

/* speaker card */
.card-1 {
  border: 1px solid #e5e7eb;
  display: inline-block;
  border: 1px solid #e5e7eb;
  margin-top: 30px;
  border-radius: 10px 10px;
}

.card-1 img {
  border-radius: 10px 10px 0px 0px;
}
.speaker-skill {
  color: #2563eb;
}
.card-1 p,
h3 {
  padding-left: 25px;
}
.card-1 .speaker-desc {
  margin-bottom: 40px;
}
.card-1 .speaker-skill {
  margin-top: 10px;
}
.card-h3 {
  margin: 10px auto;
}
.speaker-card {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 100px;
  justify-content: space-between;
}

/* Price Card */
.price-card-heading {
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}
.price-card p {
  color: #888888;
}
.font-clr {
  color: #575757;
}
.price-card li {
  color: #333333;
  margin: 8px auto;
}
.standard-card {
  margin: 50px 30% 50px 60%;
  border: 1px solid #e5e7eb;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  height: 420px;
  width: 310px;
}
.standard-card p,
h1 {
  margin-left: 25px;
}
.price-sm-para {
  font-size: 13px;
}
.hr {
  width: 85%;
  height: 1px;
  margin: 25px 25px 25px 25px;
  border: none;
  background-color: #e5e7eb;
}
.standard-price {
  border: 1.5px solid #2563eb;
  border-radius: 5px;
  background: transparent;
  padding: 10px;
  width: 80%;
  margin: 25px auto;
  display: block;
  text-align: center;
}
.card-btn-clr {
  color: #2563eb;
  font-weight: 600;
}
li::marker {
  color: #2563eb;
}
.standard-para {
  font-weight: 500;
}
.full-price-card {
  display: flex;
  gap: 30px;
}
.spot-size {
  font-size: 50px;
}
/* Cursom card */
.contact-card {
  border: 1px solid #0d1b2a;
}
.contact-card-para {
  color: #0d1b2a;
}
.pro-card {
  background: #0d1b2a;
}
.pro li {
  color: #ffffff;
}
.pro h1 {
  color: #ffffff;
}
.pro-btn-clr {
  background: #1d4ed8;
  color: white;
  padding: 10px;
  display: block;
}
.pro-price {
  border-radius: 5px;
  background: #1d4ed8;
  width: 80%;
  margin: 25px auto;
  display: block;
  border: 1px solid #1d4ed8;
}
.pro-hr {
  width: 85%;
  height: 1px;
  margin: 25px 25px 25px 25px;
  border: none;
  background-color: #e5e7eb36;
}

/* AI Section */
.ai-logo {
  display: flex;
  width: 150px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ai-ul-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 10px auto;
}

.ai-ul-li li img,
.item img {
  height: 20px;
  width: 20px;
  border: 1px solid #bcbec4;
  border-radius: 100px;
  padding: 10px;
}
.ai-ul-li li {
  list-style: none;
}
.ai-ul-li a {
  display: flex;
}

.ai-section {
  display: flex;
  padding: 20px 200px;
  gap: 50px;
  justify-content: space-between;
  background: #0000009f;
  color: white;
}

.ai-offer {
  display: flex;
  padding: 0px 200px;
  justify-content: space-around;
  background: #081adf58;
  margin: 0px 200px 5px 200px;
  border-radius: 10px;
  height: 200px;
  align-items: center;
}

.ai-table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 60px 25px;
  table-layout: fixed;
    
}

.ai-table th,
.ai-table td {
  text-align: left;
  padding: 0 70px;
}

.item {
  justify-content: center;
  text-align: center;
}

.ai-footer-mail {
  display: flex;
  margin: 10px 200px;
  justify-content: space-around;
  align-items: center;
  background: #92a8e96e;
  border-radius: 10px;
  padding: 10px;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ai-img {
  justify-content: center;
  align-items: center;
}

.footer-btn {
  padding: 13px 25px;
  font-size: 10px;
  border-radius: 5px;
}
.input {
  width: 250px;
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-footer {
  justify-content: space-between;
  display: flex;
  margin: 40px 150px 0px 150px;
  align-items: center;
}
.footer-flex {
  display: flex;
  gap: 20px;
}
.foot {
  background: #1d4ed8;
  color: white;
}


